.profileBox 
  .ct
    = label_tag :avatar do
      .profileBox_icon{data: {current_id: @user.id}}
        -if @user.id == current_user.id 
          = file_field_tag :avatar, class: 'uploader', style: 'display:none'
    -if !(@user == current_user)
      .profileBox_follow-btnBox{data: {user_id: @user.id}}
        .profileBox_follow-btn
          Follow
        .profileBox_unfollow-btn.hidden
          UnFollow
    .profileBox_dataBox
      .profileBox_dataBox_inner
        %p 44
        %p Posts
      .profileBox_dataBox_inner
        %p 44
        %p Followers
      .profileBox_dataBox_inner
        %p 44
        %p Following
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'

= javascript_pack_tag 'profile'


