.profileBox 
  .ct
    .profileBox_icon
      = image_tag 'icon.png', class: 'object-fit'
    .profileBox_dataBox
      .profileBox_dataBox_inner
        %p 44
        %p Posts
      .profileBox_dataBox_inner
        %p 44
        %p Followers
      .profileBox_dataBox_inner
        %p 44
        %p Following
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'