.profileBox 
  .ct
    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
      =f.label :image do
        .profileBox_icon
          = image_tag current_user.avataor_image, class: 'object-fit avatar'
          = f.file_field :image, class: 'uploader', style: 'display:none'
    .profileBox_dataBox
      .profileBox_dataBox_inner
        %p 44
        %p Posts
      .profileBox_dataBox_inner
        %p 44
        %p Followers
      .profileBox_dataBox_inner
        %p 44
        %p Following
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'

= javascript_pack_tag 'profile'


