.profileBox 
  .ct
    = label_tag :avatar do
      .profileBox_icon{data: {current_id: current_user.id}}
        = image_tag  current_user.avataor_image, class: 'object-fit avatar'
        = file_field_tag :avatar, class: 'uploader', style: 'display:none'
    .profileBox_dataBox
      .profileBox_dataBox_inner
        %p 44
        %p Posts
      .profileBox_dataBox_inner
        %p 44
        %p Followers
      .profileBox_dataBox_inner
        %p 44
        %p Following
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'
    .profileBox_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'

= javascript_pack_tag 'profile'


