.cardBox
  .ct
    .userTitleBox
      .userTitleBox_icon
        = image_tag current_user.avataor_image, class: 'object-fit'
      %p  
        = current_user.username
    .formBox
      = form_with(model: card, local: true) do |f|
        %div.inputbox
          = f.text_field :content, class: 'input',:placeholder => "What's on your mind ?"
        %div
          = f.label :imgs, 'Album', class: 'imgs_btn'
        %div
          = f.file_field :imgs,multiple: true, class: 'imgs'
        = f.submit "保存", class: 'btn-primary'