!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# - if(@card)
    -#   -if(current_page?(card_path))
    -#     = display_meta_tags(default_meta_tags)
    %title InstaCloneApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# swiper
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js'
  %body
    %header
      .ct.headerCt
        - if user_signed_in?
          - if current_page?(root_path)
            -# 投稿画面遷移
            = link_to new_card_path do
              = image_tag 'photo-camera (1).png'
          - else
            -# 投稿画面遷移の時
            - if current_page?(new_card_path)
              .newCardBox
                %a.cance
                  Cance
                %p Status
                %p.post Post 
            - else
              -# 戻るの矢印
              =link_to request.referer  do
                = image_tag 'arrow.png', class: 'arrow-back'
          -# プロフィールの時は名前を表示
          - if current_page?(profile_path)
            %p.userName 
              = current_user.username
          -# ユーザーがログインしているかいないかの条件分岐      
          -# ログインしている時に表示
          .dropdown
            = image_tag current_user.avataor_image, class: 'header_avatar dropbtn'
            .dropdown_content
              = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
        - else
          -# /ログインしていない時に表示
          = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'
      - if flash.present?
        .flash
          - flash.each do |key, value|
            %div{:class => key}
              = value
    = yield
