!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstaCloneApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .ct.headerCt
        - if user_signed_in?
          - if current_page?(root_path) 
            = image_tag 'photo-camera (1).png'
          - else
            = image_tag 'arrow.png', class: 'arrow-back'
          - if current_page?(profile_path)
            %p.userName 
              = current_user.username
          
      - if flash.present?
        .flash
          - flash.each do |key, value|
            %div{:class => key}
              = value
    = yield
